.menu {
    width: 95%;
}

.playerDisplay {
    width: 95%;
}

.resultDisplay {
    width: 95%;
}

.scoreDisplay {
    width: 95%;
}

.totalTimeDisplay {
    width: 95%;
}

.enemyDisplay {
    width: 95%;
}
