.menu {
    width: 97%;
}

.playerDisplay {
    width: 48%;
}

.resultDisplay {
    width: 97%;
}

.scoreDisplay {
    width: 66%;
}

.totalTimeDisplay {
    width: 30%;
}

.enemyDisplay {
    width: 48%;
}
