.menu {
    width: 99.5%;
}

.playerDisplay {
    width: 25%;
}

.resultDisplay {
    width: 48%;
}

.scoreDisplay {
    width: 32%;
}

.totalTimeDisplay {
    width: 15.3%;
}

.enemyDisplay {
    width: 25%;
}
